<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header navbar-collapse collapse">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="container-fluid">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Arc Flash Calculator 
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">60 Hz Power</a></li>
                                    <li><a href="#">DC</a></li>
                                    <li><a href="#">Capacitor</a></li>
                                    <li><a href="#">Battery</a></li>
                                    <li><a href="#">Sub RF (1Hz-3kHz)</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    

                   
                </div>

                @*<div class="navbar-header navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-header">
                        <li class="active "><a href="#">Arc Flash Calculator</a></li>
                        <li><a href="#">60 Hz Power</a></li>
                        <li><a href="#">DC</a></li>
                        <li><a href="#">Capacitor</a></li>
                        <li><a href="#">Battery</a></li>
                        <li><a href="#">Sub RF (1Hz -3kHz)</a></li>
                    </ul>
                </div>*@

                @*@Html.ActionLink("Arc Flash Calculator", "Index", "Home", new { area = "" }, new { @class = "navbar-header navbar-brand" })*@


                @*<div class="btn-group">*@
                    @*<ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                    <button type="button" class="navbar-brand" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                      </button>*@
                 @*</div>*@

                @*<button type="button" class="btn btn-default">Action</button>*@


                @*<button type="button" class="btn btn-default dropdown-toggle navbar-brand" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">*@




                @*<div>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        @Html.ActionLink("Arc Flash Calculator", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>*@
                
            
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Arc Flash Calculator - Developed by Prof Hilton's CS 4790 class</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/bootbox.min.js")
    @RenderSection("scripts", required: false)
    
    <script>
        var dialog = bootbox.dialog({
            title: 'Please Read',
            message: "Personal Protective Equipment (PPE) presented in this app is based on the task tables from NFPA-70E 2012, NEC and IEEE Refereed Articles. For Tri-Services (US Army Corps of Engineers, Navy-Marines & Air Force) facilities electrical (VAC) work, consult your AHJ to determine if the principal reference for shock and arc flash boundary analysis is the UFC 3-560-01 dated May 2012.",
            buttons: {
                ok: {
                    label: "Accept",
                    className: 'btn-success',
                    callback: function () {
                        console.log('accept clicked');
                    }
                }
            },
            closeButton: false,
            onEscape: false
        });
    </script>
</body>
</html>
