<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header navbar-collapse collapse">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="container-fluid">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Arc Flash Calculator 
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li> @Html.ActionLink("60Hz Power", "Index", "UserInputs60Hz", new { @class = "btn btn-default" }, null) </li>
                                    <li> @Html.ActionLink("DC", "Index", "UserInputsDCs", new { @class = "btn btn-default" }, null) </li>
                                    <li> @Html.ActionLink("Capacitor", "Index", "Capacitor", new { @class = "btn btn-default" }, null) </li>
                                    <li> @Html.ActionLink("Battery", "Index", "Battery", new { @class = "btn btn-default" }, null) </li>
                                    <li> @Html.ActionLink("Sub-RF (1Hz - 3kHz)", "Index", "SubRF", new { @class = "btn btn-default" }, null) </li>
                                </ul>
                            </li>
                        </ul>
                    </div>                  
                </div>
                          
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Arc Flash Calculator - Developed by Prof Hilton's CS 4790 class</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/MVCGridHandler.axd/script.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/bootbox.min.js")
    @RenderSection("scripts", required: false)    
</body>
</html>
