@model ArcFlashCalculator.Models.CreateNewUser

@{
    Layout = "~/Views/Shared/_AdminNavbarPartial.cshtml";
}
@{
    ViewBag.Title = "Create";
}

<div class="container-fluid mx-auto">
    @Html.ActionLink("Delete Acccount", "Delete", null, new { @class = "btn btn-primary"})
</div>

<div class="container-fluid mx-auto" id="form">
    <h2>Add Account</h2>

    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.user.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-offset-2 col-md-10">
                    @Html.EditorFor(model => model.user.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.user.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.user.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-offset-2 col-md-10">
                    @Html.PasswordFor(model => model.user.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.user.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</div>

<style>
    #form .mb-2 {
        margin-bottom: .75rem;
    }

    #form .mb-4 {
        margin-bottom: 1.5rem;
    }

    #form .mt-4 {
        margin-top: 1.5rem;
    }
</style>