@model IEnumerable<ArcFlashCalculator.Models.Users>
@{
    Layout = "~/Views/Shared/_AdminNavbarPartial.cshtml";
}
@{
    ViewBag.Title = "Delete";
}

<div class="container-fluid mx-auto">
    @Html.ActionLink("Add Acccount", "Create", null, new { @class = "btn btn-primary" })
</div>

<div class="container-fluid mx-auto" id="delete">
    <h2>Delete Account</h2>
    <hr />
    <table class="mt-4 mb-4">
        <tr>
            <th>Email</th>
            <th>Date Added</th>
            <th></th>
        </tr>
       @foreach (var item in Model)
       {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @using (Ajax.BeginForm("Delete", "Admin", new { id = item.Id }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "function(){alert('success')}", OnFailure = "function(){alert('epic fail')}" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ActionLink("Change Password", "ChangePassword", new { id = item.Id }, new { @class = "btn btn-primary" })
                    <input type="submit" value="Delete Account" class="btn btn-danger" />
                }
            </td>
        </tr>
       }
    </table>

</div>

<style>
    #delete .mb-2 {
        margin-bottom: .75rem;
    }

    #delete .mb-4 {
        margin-bottom: 1.5rem;
    }

    #delete .mt-4 {
        margin-top: 1.5rem;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
