@model ArcFlashCalculator.Models.UserInputsDC

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserInputsDC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PotMaxExp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PotMaxExp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailSCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailSCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
