@model ArcFlashCalculator.Models.UserInputs60Hz

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserInputs60Hz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Impedance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Impedance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultClearing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultClearing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voltage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voltage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OEInFreshAir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OEInFreshAir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
